header {
    background-color: #272727;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7vh;
}
header h1{
    font-size: 25px;
    padding: 10px;
    position: absolute;
    left: 350px;
    top: 0;
    margin-left: 20px;
    margin-top: 10px;
}
.highlight {
    background-color: #A8A8A8;
    color: black;
}
.head{
    position: absolute;
    top: 0;
    right: 350px;        
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
}
.head button{
    background-color: #272727;
    color: white;
    width: 50px;
    border: none;
    height: 30px;
}
body{
    background-color: #A8A8A8;
    gap: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 70px;
    height: auto;
}
input{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;  
    border: none;
    background-color: #272727;
    color: white;
    display: flex;
    flex-direction: column;
}
.resize{
    resize: none;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 100px;
}