<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Comentário</title>
    <link rel="stylesheet" href="/src/css/comment.css">
    <link rel="stylesheet" href="/src/css/Reset.css">
</head>
<body>
    <header>
        <h1>Feedback<span class="highlight">CELL</span></h1>
        <div class="head">
            <button><a href="/index">HOME</a></button>
            <button><a href="/login.html">LOGIN</a></button>
        </div>
    </header>
    <div class="container">
        <div id="nome-celular"></div>
        <div id="imagem-celular"></div>
        <div id="container-table"></div>
        <form action="/comment.html" method="POST">
            <label for="comentario">Comentários:</label><br>
            <textarea class="resize" id="comentario" name="comentario"></textarea><br>
            <input type="submit" value="Enviar">
        </form>
    </div>

    <script src="/src/js/Script_comment.js"></script>
</body>
</html>
