<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedbackCELL</title>
    <link rel="stylesheet" href="./SRC/CSS/index.css">
    <link rel="stylesheet" href="./SRC/CSS/Reset.css">
</head>
<body>
    <header>
        <h1>Feedback<span class="highlight">CELL</span></h1>
        <div class="head">
            <button><a href="./Login.html">LOGIN</a></button>
        </div>
    </header>

    <div class="container">
        <main id="lista-celulares" class="celulares-grid"></main>
    </div>

    <footer>
        <h1>@Guilherme Dos Santos Bonato 2025. Todos os Direitos Reservados</h1>
    </footer>
    <script src="./src/js/Script_index.js"></script>
</body>
</html>