<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./SRC/CSS/login.css">
    <link rel="stylesheet" href="./SRC/CSS/Reset.css">
    <title>Login</title>
</head>

<body>
    <div>
        <header>
            <h1>Feedback<span class="highlight">CELL</span></h1>
            <div class="head">
            
            </div>
        </header>
    </div>
    <div class="container">
        <main>
            <div class="login">
                <h2>Login</h2>
                <form id="form-login" action="/usuarios/login" method="POST">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <label for="senha"></label>
                    <input type="password" id="senha" name="senha" placeholder="Senha" required>
                    <button class="ent" type="submit">Entrar</button>
                </form>
            </div>
        </main>
    </div>
    <footer>
        <h1>@Guilherme Dos Santos Bonato 2025. Todos os Direitos Reservados</h1>
    </footer>
    <script src="/src/js/Script_Login.js"></script>
</body>

</html>